*{
    margin: 0;
    padding: 0;
}

:root{
    --fundo-background: linear-gradient(135deg, #1e90ff, blueviolet);
    --cor-texto-principal: black;
    --cor-texto-secundario: #fff;
    --cor-menu: rgba(241, 241, 241, 0.7);
}

html {
    scroll-padding-top: 75px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0 10vw;
}

.menu{
    background-color: var(--cor-menu);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    border-radius: 50px 50px 0 0;
    position: sticky;
    top: 5px;
    z-index: 1000;
    transition: border-radius 0.2s ease, margin 0.4s ease;
}

.menu.menu--scrolled {
    border-radius: 50px;
    margin: 0 10vw;
}

.menu-list{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.menu-list a{
    color: black;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: none;
}

.item__ativo a{
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.menu-hamburguer{
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('./images/menu-hamburguer.png');
    background-size: cover;

}

.menu-hamburguer:hover{
    cursor: pointer;
}

#home{
    margin-top: 5px;
    color: var(--cor-texto-secundario);
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--fundo-background);
    border-radius: 0 0 50px 50px;
    transition: border-radius 0.4s ease;
}

#home.home--scrolled {
    border-radius: 50px;
}


#chamado{
    font-size: 60px;
    font-weight: 600;
    line-height: 1
}

#chamado span{
    color: var(--cor-texto-principal);
}

#bem-vindo{
    font-size: 40px;
    font-weight: 400;
    line-height: 1
}

.conteudo__texto{
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    width: 50%;
}

#about{
    padding: 80px 3vw;
    margin: 0 8vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

.container__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__titulo{
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-texto-principal);
    text-align: center;
}

.container__texto{
    font-size: 20px;
    font-weight: 200;
    color: var(--cor-texto-principal);
    text-align: center;
}

.fotografia{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}