*{
    margin: 0;
    padding: 0;
}


:root{
    --fundo-background: linear-gradient(135deg, #1e90ff, blueviolet);
    --cor-texto-principal: #000;
    --cor-texto-secundario: #fff;
    --cor-texto-hover: #374a72;
    --cor-menu: rgba(241, 241, 241, 0.7);
    --fundo-secundario: linear-gradient(135deg, #fff, #7e7e7e);
    --box-shadow: 0 4px 16px rgba(0,0,0,0.1), 0 10px 26px gray;
}

html {
    scroll-padding-top: 75px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0 10vw;
}

.menu{
    background-color: var(--cor-menu);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-radius: 50px 50px 0 0;
    position: sticky;
    top: 5px;
    z-index: 1000;
    transition: border-radius 0.2s ease, margin 0.4s ease;
}

.menu.menu--scrolled {
    top: 0;
    border-radius: 0 0 50px 50px;
    margin: 0 5vw;
}

.menu-list{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.menu-list__item a{
    color: var(--cor-texto-principal);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.menu-list__item a:hover{
    color: var(--cor-texto-hover);
}

.item__ativo a{
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.menu-hamburguer{
    display: none;
    width: 30px;
    height: 30px;
    background-image: url('./images/menu-hamburguer.png');
    background-size: cover;

}

.menu-hamburguer:hover{
    cursor: pointer;
}

#home{
    margin-top: 5px;
    padding: 0 1vw;
    color: var(--cor-texto-secundario);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--fundo-background);
    border-radius: 0 0 50px 50px;
    transition: border-radius 0.4s ease;
}

#home.home--scrolled {
    border-radius: 50px;
}

.home-conteudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chamado{
    font-size: 48px;
    font-weight: 600;
    line-height: 1
}

#chamado span{
    color: var(--cor-texto-principal);
}

.conteudo__texto{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 200;
    width: 80%;
}

#programador-img{
    margin-right: 30px;
    filter: invert(1);
    width: 20%;
    right: 0;
    bottom: 0;
    transition: width 0.4s ease;
    animation: sobeDesce 1.5s infinite alternate;
}

@keyframes sobeDesce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

.container{
    padding: 80px 3vw 0 3vw;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    gap: 50px;
}

.container__conteudo{
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.container__titulo{
    font-size: 40px;
    font-weight: 600;
    color: var(--cor-texto-principal);
}

.container__titulo--destaque{
  background: var(--fundo-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.container__texto{
    font-size: 20px;
    font-weight: 200;
    color: var(--cor-texto-principal);
}

.container__segundo-paragrafo{
    display: flex;
    flex-direction: column;
    gap: 25px;   
}

.fotografia{
    width: 30vw;
    border-radius: 30%;
    box-shadow: var(--box-shadow);
}

.about__icons {
    display: flex;
    gap: 20px;
}


.about__icon {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    background: var(--fundo-background);
    display: inline-block;
    transition: transform 0.2s;
    vertical-align: middle;
}

.about__icon:hover {
    transform: scale(1.1);
    z-index: 1;
}

.icon-imagem {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#skills {
    margin-top: 20px;
    justify-content: center;
}

.skills__conteudo{
    text-align: center;
}

.skills__list {
    margin-top: 30px;
    display: flex;
    gap: 50px;
}


.skills__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10.5vw;
    background: var(--fundo-background);
    border-radius: 20px;
}


.skills__item img{
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
}


.skills__item__texto {
    display: block;
    font-size: 0px;
    font-weight: 600;
    color: var(--cor-texto-secundario);
    text-align: center;
    transition: all 0.3s ease;
}


.img-fundo-branco {
    background-color: #fff;
}

#certificados {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#certificados-em-carrocel{
    display: flex;
    justify-self: center;
    gap: 5px;
}

.certificados__carrocel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;
}

.certificados__botao{
    background-color: transparent;
    border: none;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#certificados__anterior{
    transform: scale(-1);
}

#certificados__proximo:hover{
    transform: scale(1.1);
}

#certificados__anterior:hover{
    transform: scale(-1.1);
}

.certificados__carrocel__img{
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    transition: opacity 0.5s ease, transform 0.2s ease;
}

.on{
    opacity: 1;
}

.saindo-esquerda {
    animation: sairEsquerda 0.5s forwards;
}
@keyframes sairEsquerda {
    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.saindo-direita {
    animation: sairDireita 0.5s forwards;
}
@keyframes sairDireita {
    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

#contact {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 100px 0 0;
}

.formulario{
    margin-top: 20px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    gap: 40px;
}

.formulario__input{
    width: calc(98% - 1px);
    padding: 14px 1%;
    border: 1px solid var(--cor-texto-principal);
    border-radius: 5px;
    font-size: 16px;
}

.texto_formulario{
    font-size: 16px;
}

.formulario__mensagem__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mensagem{
    height: 100px;
    padding: 10px 1%;
    border: 1px solid var(--cor-texto-principal);
    border-radius: 5px;
}

#enviar{
    margin: 0 0 20px 20px;
    width: 20%;
    padding: 10px 20px;
    border: var(--cor-texto-principal) 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario__inteiro{
    width: 100%;
}

.footer{
    position: relative;
    left: -10vw;
    bottom: 0;
    width: 100vw;
    background-color: var(--cor-menu);
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 1160px) {
    body {
        margin: 0 5vw;
    }
    .footer {
        left: -5vw;
    }
    #chamado {
        font-size: 46px;
    }
    .menu.menu--scrolled {
        margin: 0 3vw;
    }
    .skills__item {
        width: 13vw;
        height: 13.5vw;
        gap: 5px;
    }
    .skills__item img {
        width: 9vw;
        height: 9vw;
    }
}

@media (max-width: 1000px) {
    body {
        margin: 0 3vw;
    }
    .footer {
        left: -3vw;
    }
    .menu-list__item a {
        font-size: 14px;
    }
    #chamado {
        font-size: 4vw;
    }
    #about {
        margin-bottom: 100px;
    }
    .fotografia {
        margin-bottom: 200px;
    }
    .container__segundo-paragrafo {
        width: 85vw;
        padding: 0 3vw;
        position: relative;
        left: -36vw;
        top: 10px;
    }
    .skills__item {
        border-radius: 10px;
        width: 12.5vw;
        height: 13vw;
        gap: 1px;
    }
    .skills__item img {
        width: 8vw;
        height: 8vw;
    }

    .certificados__carrocel {
        width: 600px;
        height: 200px;
    }
    }

@media (max-width: 780px) {
    .menu {
        border-radius: 40px 40px 0 0;
    }
    .menu-list {
        display: none;
    }
    .menu-hamburguer {
        display: block;
    }
    #chamado {
        font-size: 36px;
    }
    .container {
        flex-direction: column;
        padding: 80px 1vw 0 1vw;
        gap: 30px;
    }
    .container__conteudo {
        max-width: 90vw;
        align-items: center;
        text-align: center;
    }
    #programador-img {
        display: none;
    }
    .fotografia {
        width: 60vw;
        margin-bottom: 50px;
    }
    .container__segundo-paragrafo {
        align-items: center;
        position: static;
        width: 100%;
        padding: 0;
        left: 0;
        top: 0;
    }
    .skills__list {
        flex-wrap: wrap;
        gap: 5px;
    }
    .skills__item {
        width: 16.5vw;
        height: 17vw;
    }
    .skills__item img {
        width: 8vw;
        height: 8vw;
    }
    .formulario__inteiro {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .formulario {
        width: 100vw;
        flex-direction: column;
        gap: 3px;
        
    }

    .formulario__mensagem__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #enviar {
        padding: 10px 20px;
        display: block;
        margin: 0 auto 20px auto;
        text-align: center;
        overflow: hidden;
    }

    #certificados-em-carrocel{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50vw;
        justify-content: center;
    }
    .certificados__carrocel {
        position: relative;
        width: 80vw;
        display: flex;
        scroll-snap-type: x mandatory;
    }
}